.btn {
    margin: 2px !important;
    border-radius: 0% !important;
    font-size: 0.75rem !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #939393 !important;
    border-color: #939393 !important;
    position: relative;
    
}


.btn-primary:focus, .btn-primary:focus:not(.focus-visible) {
    box-shadow: none !important;
}

/*provisorisch*/
.btn-primary:focus {
    color:#64df57 !important;
}

.outer_border, .h1 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 3;
    font-family: 'MyWebFont', sans-serif;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 250px !important;
    word-wrap: break-word;
    background-color: #e7e7e7!important;
    
    border: 1px solid #e7e7e7 !important;
    border-radius: unset !important;
    
}

.outer_border {
    left: 15% !important;
    top: auto !important;
    margin-top: 50px !important;
    
}

.h1, h1 {
    font-size: 1rem !important;
    font-weight: bold !important;
}


.simple-dropdown-button {
    background-color: #fffbfb00 !important;
}

.morph-search-dropdown {
    background: 0% !important;
}



.card-header {
    padding: 0 !important;
    margin-bottom: 0 !important;
    background-color: transparent !important;
    border-bottom: transparent !important;
    line-height: 30px !important;
}

#card-wideness {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0% !important;
}

.btn-link {
    padding-left: 0px !important;
    color: #2e2f30 !important;
    text-decoration: none !important;
}

#filter-zurueck {
    background-color: #93939300 !important;
    border-color: #93939300 !important;
    color: #2e2f30 !important;
    padding-left: 0px !important;
    padding-right: 15px !important;
    text-decoration: underline !important;
}

#filter-zurueck:hover {
    color: #64df57 !important;
}

#such-param {
    padding-left: 0px !important;
    text-decoration: underline !important;
}

#such-param:hover {
    color: #64df57 !important;
}

#suche {
    left: 23px !important;
    background-color: #595959 !important;
    border-color: #595959 !important;
}
